*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
#intro{
    height: 200px;
    width: 100%;
    padding: 30px;
}
#intro h1{
    font-size: 80px;
    line-height: 1;
}
#place{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}
#hero-image{
    height: 70%;
    width: 100%;
    background-color: orange;
}
#img{
    height: 100%;
    width: 100%;
    background-image: url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-2000.webp);
    margin-top: 25px;
    background-size: cover;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 10px;
    gap: 10px;
}
